## Root directory files and folders whitelist
/*

!/.gitignore
!/.gitattributes

# Folders
#!/hub/
#!/survivaltwo/
#!/pixelartworld/
!/plugins/
!/config/
!/mods/

# Files
!/arclight.conf
!/arclight.jar
#!/banned-ips.json
#!/banned-players.json
!/bukkit.yml
!/commands.yml
!/eula.txt
#!/ops.json
#!/permissions.yml
!/server.properties
!/server-icon.png
!/spigot.yml
!/start.sh
#!/wepif.yml
#!/whitelist.json

# Funny macOS file
.DS_Store

## Plugin file exclusions
/plugins/_OLD\ CONFIG/

/plugins/AltDetector/ipdata.yml

/plugins/BuycraftX/cache/
/plugins/BuycraftX/gui.cache

/plugins/ChatControl/logs/
/plugins/ChatControl/errors/

/plugins/ChatFeelings/Data/

/plugins/CoreProtect/database.db

/plugins/CraftBook/uuid-mappings.db

/plugins/CrazyAuctions/Data.yml

/plugins/DiscordSRV/alerts.yml-*
/plugins/DiscordSRV/config.yml-*
/plugins/DiscordSRV/linking.yml-*
/plugins/DiscordSRV/messages.yml-*
/plugins/DiscordSRV/synchronization.yml-*
/plugins/DiscordSRV/voice.yml-*

/plugins/dynmap/*.pending
/plugins/dynmap/ids-by-ip.txt
/plugins/dynmap/version.txt
/plugins/dynmap/web/tiles/

/plugins/Essentials/userdata/
/plugins/Essentials/usermap.csv

/plugins/EssentialsGeoIP/GeoIP2-Country.mmdb
/plugins/EssentialsGeoIP/GeoIPCity.dat

/plugins/GameBox/data.yml
/plugins/GameBox/games/cookieclicker/saves.yml

/plugins/GriefPreventionData/ClaimData/
/plugins/GriefPreventionData/Logs/
/plugins/GriefPreventionData/PlayerData/

/plugins/HeadsPluginAPI/cache/
/plugins/HeadsPluginAPI/data/

/plugins/Hyperverse/storage.db

/plugins/LibsDisguises/GameProfiles/

/plugins/LightCleaner/PendingLight.dat

/plugins/LuckPerms/libs/
/plugins/LuckPerms/translations/

/plugins/MCBans/sync.ini

/plugins/MCPainter/img/

/plugins/MassiveCore/idnamecache.json

/plugins/MyPet/backups/
/plugins/MyPet/exp.cache
/plugins/MyPet/logs/
/plugins/MyPet/pets.db

/plugins/NBTEditor/ItemStorage/

/plugins/PermissionsEx/file-backup.-1.bak

/plugins/PerWorldInventory/data/

/plugins/PlotSquared/backups/
/plugins/PlotSquared/storage.db

/plugins/ProtocolLib/lastupdate

/plugins/RecipeManager/changelog.txt
/plugins/RecipeManager/save/
/plugins/RecipeManager/used.version

/plugins/ServerListPlus/PlayerCache.json
/plugins/ServerListPlus/ServerListPlus.bak.yml

/plugins/StayPut/database.db

/plugins/SuperVanish/data.yml
/plugins/SuperVanish/playerdata.yml

/plugins/TabList/releases/

/plugins/TwitchMC/config.yml

/plugins/UltraCosmetics/data/

/plugins/Votifier/rsa/private.key
/plugins/Votifier/rsa/public.key

/plugins/VotingPlugin/Backups/
/plugins/VotingPlugin/Log/
/plugins/VotingPlugin/ServerData.yml
/plugins/VotingPlugin/TopVoter/
/plugins/VotingPlugin/Users.db

/plugins/VPNGuard/blacklist_cache
/plugins/VPNGuard/whitelist_cache

/plugins/WorldEdit/.archive-unpack/
/plugins/WorldEdit/schematics/
/plugins/WorldEdit/sessions/

/plugins/WorldGuard/cache/
